body {
    background-color: #0E9594;
    color: #F5DFBB;
}

.description {
    text-align: center;
}
.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    border-radius: 100%;
}

h1, h2, h3 {
    text-align: center;
}

.tab {
    margin-left: 40px;
}